*{
  box-sizing:border-box;
  margin:0;
  font-family:'Poppins',sans-serif;
}

body{
  height:100vh;
  background:#F0E5E1;
}

.layout{
  display:flex;
  height:100vh;
}

/* LEFT SIDE */

.form-side{
  width:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:80px;
  background:#F0E5E1;
  z-index:2;
}

#form-content{
  width:100%;
  max-width:360px;
  text-align:center;
}

.brand{
  color:#4D3328;
  font-size:2.5rem;
  font-weight:700;
  margin-bottom:30px;
}

.main-title{
  color:#4D3328;
  font-size:1.4rem;
  margin-bottom:40px;
}

/* INPUTS */

#phoneNo,
#password{
  width:100%;
  border-radius:8px;
  border:1.5px solid #E6D5CE;
  margin-bottom:25px;
  outline:none;
  font-size:1rem;
  padding:16px;
}

#phoneNo:focus,
#password:focus{
  border-color:#644234;
}

/* BUTTON */

.btn{
  width:100%;
  border-radius:8px;
  border:none;
  background:#5C3B2E;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  font-size:1rem;
  padding:16px;
}

/* RIGHT SIDE */

.visual-side{
  width:50%;
  position:relative;
  background:#E6D5CE;
  overflow:hidden;
}

/* CURVE SHAPE */

.curve{
  position:absolute;
  left:-120px;
  width:260px;
  height:100%;
  background:#F0E5E1;
  border-top-right-radius:200px;
  border-bottom-right-radius:200px;
  z-index:2;
}
#errorMsg{
  color:red;
  margin-top:15px;
  font-size:0.9rem;
}
/* IMAGE */

.visual-img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* MOBILE */

@media (max-width:900px){

  .visual-side{
    display:none;
  }

  .form-side{
    width:100%;
    padding:40px;
  }

}