
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
  }

  body {
    height: 100vh;
    background: #001414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00ffff;
  }

  .title {
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-shadow: 0 0 10px #00ffff, 0 0 25px #00ffff;
  }

  .quiz-container {
    width: 420px;
    padding: 25px;
    border: 2px solid #00ffff;
    border-radius: 15px;
    box-shadow: 0 0 25px #00ffff;
    background: rgba(0, 30, 30, 0.9);
  }

  .info-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .box {
    padding: 10px 15px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffff;
  }
 
  .question-box {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    box-shadow: 0 0 12px #00ffff;
  }
  

  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .option {
    padding: 12px;
    font-size: 18px;
    background: transparent;
    color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 12px #00ffff;
    transition: 0.3s;
  }
  
  .option:hover {
    background: #00ffff;
    color: #001414;
    box-shadow: 0 0 20px #00ffff;
  }
  
  .start-btn {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: transparent;
    color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 15px #00ffff;
    transition: 0.3s;
  }
  
  .start-btn:hover {
    background: #00ffff;
    color: #001414;
    box-shadow: 0 0 25px #00ffff;
  }

.pop {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none; 
  z-index: 100;

  width: 450px;
  padding: 30px 20px;
  text-align: center;

  background-color: #021616;
  border-radius: 20px;

  border: 2px solid #00fff2;
  box-shadow:
    0 0 15px #00fff2,
    0 0 30px rgba(0, 255, 242, 0.6),
    inset 0 0 15px rgba(0, 255, 242, 0.4);
}


.over {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;

  color: #00fff2;
  text-shadow:
    0 0 8px #00fff2,
    0 0 16px #00fff2;
}

#sc {
  font-size: 22px;
  margin-bottom: 25px;
  color: #ffffff;
}

#result {
  font-size: 26px;
  font-weight: bold;
  color: #00fff2;
  text-shadow: 0 0 10px #00fff2;
}


.btn2 {
  width: 80%;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;

  color: #00fff2;
  background: transparent;

  border: 2px solid #00fff2;
  border-radius: 30px;
  cursor: pointer;

  box-shadow: 0 0 12px rgba(0, 255, 242, 0.7);
  transition: all 0.3s ease;
}

.btn2:hover {
  background-color: #00fff2;
  color: #021616;
  box-shadow:
    0 0 20px #00fff2,
    0 0 40px rgba(0, 255, 242, 0.9);
}
