* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #0f2027, #000);
    color: #00ffcc;
  }

  .game-card {
    width: 400px;
    padding: 28px 24px;
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow:
      0 0 35px rgba(0, 255, 204, 0.35),
      inset 0 0 18px rgba(0, 255, 204, 0.15);
    text-align: center;
  }
  

  .top-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    opacity: 0.85;
    margin-bottom: 15px;
  }
  

  .game-card h1 {
    font-size: 1.9rem;
    letter-spacing: 2px;
    margin-bottom: 22px;
  }
  

  .scrambled-word {
    padding: 16px;
    border-radius: 14px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 6px;
    margin-bottom: 24px;
    background: linear-gradient(135deg, #00ffcc, #00c6ff);
    color: #000;
    box-shadow: 0 0 25px rgba(0, 255, 204, 0.8);
  }
  
  
  input {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: 20px;
    background: #001f1a;
    color: #00ffcc;
    text-align: center;
  }
  
  input::placeholder {
    color: #66ffe0;
    opacity: 0.7;
  }
 
  .buttons {
    display: flex;
    gap: 12px;
  }
  
  .btn {
    flex: 1;
    padding: 12px;
    border-radius: 14px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s ease;
  }
  
  .check {
    background: linear-gradient(135deg, #00ffcc, #00ffa2);
    color: #000;
  }
  
  .skip {
    background: #ff4d6d;
    color: #fff;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  }
  
  /* HINT */
  .hint {
    margin-top: 18px;
    font-size: 0.8rem;
    opacity: 0.85;
  }
  
  .start {
    background: linear-gradient(135deg, #ffcc00, #ff9900);
    color: #000;
  }
  
  .game-over-popup {
    position: fixed;
    top: 200px;
    left: 140px;
    width: 80%;
    height: 100%;  
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background: #001f1a;
    padding: 30px 25px;
    border-radius: 20px;
    text-align: center;
    color: #00ffcc;
    box-shadow: 0 0 25px rgba(0,255,204,0.8);
  }
  
  .popup-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .popup-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .popup-content .restart {
    background: linear-gradient(135deg, #00ffcc, #00c6ff);
    color: #000;
  }
  